#test {
  display: flex;
  padding: 30px 0;
  justify-content: center;
  flex-wrap: wrap; }
  #test .touch-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #test .touch-box .target {
      width: 100vw; }
      #test .touch-box .target img {
        width: 100%; }
  #test .info {
    text-align: center;
    color: #333;
    padding: 20px; }
